
:root{
    --topbar-height: 58px;
    --sidebar-width: 240px;

    --primary-color: #490;
    --input-color: #333;
}

* {
    box-sizing: content-box;
}

header {
    position:fixed;
    left:0;
    top:0;
    right:0;
    height: var(--topbar-height);
    line-height: var(--topbar-height);
    background: var(--primary-color);
    color: #fff;
    padding-left: 20px;
    z-index: 20;
}

#content{
    margin-top:var(--topbar-height);
    right:0;
    overflow:auto;
    max-width: 900px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 4px;
}

#sidebar{
    top: var(--topbar-height);
    position: fixed; 
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
}

footer {
    position: fixed;
    bottom:0;
    width:100vh;
    opacity: 0.1;
}



ul {
    margin: 0;
    padding-left: 30px;
}

#sidebar li {
    display:block;
    margin: 8px 0;
}

input {
    border: 1px solid var(--primary-color);
    color: var(--input-color);
    min-width: 100px;
}

@media (max-width: 768px){
    #sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }
    #content {
        position: relative;
        padding: 0 10px;
        left: 0;
        width: calc(100% - 20px);
        height: auto;
    }
}